table {
    width:100%;
}

.centered {
    text-align: center;
}

mat-form-field.field-full-width {
    width:100%;
}

.create-form {
    min-width:150px;
    width: 100%;
}

.mat-card{
    width: 80%;
    margin: 20px auto;
}

.max-width-cell {
    max-width:150px !important;
    flex: 0 0 150px !important;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 720px){
    .mat-card{
        width: 90%;
        margin: 20px auto;
    }
} 
.form-control-inputs {
    text-align:right;
}

